@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-600 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.removed * {
    transition: 0.75s;
    transition-timing-function: ease-out;
    background-color: rgb(233, 83, 83) !important;
}

.title {
    font-size: 4rem;
}